:root {
    --primary-color: #EFEF00;
    --secondary-color: #003BEB;
    --black: #000000;
    --white: #ffffff;
    --body: #FAFAFA;
    --gray: #efefef;
    --gray-2: #757575;
    --gray-3: #525252;
    --fortext : #C9484C;
    --suit: #4C4C4C;
    --back: #a5e4dc;
    --lightback: #c0f0e6;
    --dblue: #2c316d;
    --dyellow: #ffd047;
    --lblue: hwb(209 5% 26%);
    --ablue: #86ceff;

    --facebook-color: #4267B2;
    --google-color: #DB4437;
    --twitter-color: #1DA1F2;
    --insta-color: #E1306C;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
  
  * {
    font-family: 'Poppins', sans-serif;
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
  }
  
  
  .loginbody {
    background-image: url("./images/back3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-repeat: no-repeat; */
    height: 100%;
    height: 100vh;
  }
  
  .logo {
    position: fixed;
    top: 3%; 
    left: 2%; 
    z-index: 9999;
  }
  
  .menu {
    position: absolute;
    top: 4.8%;
    left: 88%;
    z-index: 9999;
    font-weight: 900;
    font-size: 0.98em;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu a {
    text-decoration: none; /* Remove underline */
    color: var(--fortext);
    margin-right: 1.25rem; /* Add space between links */
  }
  
  .menu a:last-child {
    margin-right: 0rem; /* Remove space from the last link */
  }
  
  .menu a:hover {
    color: var(--dblue);
  }
 
  .skip {
    position: absolute;
    top: 95%;
    left: 96%;
    z-index: 9999;
    font-style: italic;
    font-size: 0.8rem;
  }
 
  .skip a {
    text-decoration: none; /* Remove underline */
    color: var(--gray-3); /* Set the text color */
    border: none; /* Remove the border */
  }

  .skip a:hover {
    text-decoration: none; /* Remove underline on hover */
    color: var(--fortext);
  }
  
  .for_password {
    text-decoration: none; 
    color: var(--black);
    font-size: 1.1em; 
  }
  
  .for_password:hover{
    color: var(--gray-3);
  }
  
  .sign-in{
    left: 5%;
  }

  .sign-up{
    right: 5%;
  }

  .heading_cont {
    font-weight: bold;
    margin: 1em;
    color: var(--fortext);
    text-align: center;
    font-size: 1.4rem;
    /* font-family: 'Lemonada' !important; */
    -webkit-text-stroke: 0.05rem var(--fortext);
    top: -0.1rem;
  }
  h3 {
    font-weight: bold;
  }
  
  .container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -5.8%;
    left: 10.25%;
    /* Other styles */
}


  .row {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
  }
  
  .col {
    width: 50%;
  }
  
  .align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .form-wrapper {
    width: 100%;
    max-width: 28rem;
  }
  
  .form {
    padding: 1rem;
    background-color: var(--white);
    border-radius: 1.5rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0.1em 0.5em 0.950em;
    transform: scale(0);
    transition: .5s ease-in-out;
    transition-delay: 0.5s;
  }
  
  .input-group {
    position: relative;
    width: 100%;
    margin: 0.8rem 0;
  }
  
  .input-group i {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: var(--gray-2);
  }
  
  /* .input-group input::placeholder {
    font-size: 0.95rem; 
} */

  .input-group input {
    width: calc(100% - 0rem); /* Adjust width as needed */
    padding: 0.8rem 3rem;
    font-size: 1.05rem;
    background-color: var(--gray);
    border-radius: .5rem;
    border: 0.125rem solid var(--white);
    outline: none;
  }
  .input-group .icon {
    position: absolute;
    top: 50%;
    left: 0.75rem; /* Adjust as needed to position the icon */
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: var(--gray-2);
  }
  
  /* Adjustments for specific icons */
  .input-group .icon.fa-envelope {
    color: var(--gray-2); /* Customize icon color */
  }
  
  .input-group .icon.fa-lock {
    color: var(--gray-2); /* Customize icon color */
  }
  
  .input-group .icon.fa-key {
    color: var(--gray-2);/* Customize icon color */
  }
  .bor2 input:focus {
    border: 0.150rem solid var(--lblue);
  }
  
  .bor1 input:focus {
    border: 0.150rem solid var(--lblue);
  }
  
  .form button {
    cursor: pointer;
    width: 100%;
    padding: .6rem 0;
    border-radius: .5rem;
    border: none;
  /*    background-color: var(--primary-color);*/
    color: var(--white);
    font-size: 1rem;
    outline: none;
  }
  
  .button_signin{
    background-color: var(--lblue);
  }
  
  .button_signup{
    background-color: var(--lblue);
  }
  
  .form p {
    margin: 1rem 0;
    font-size: .7rem;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .social-list {
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 1.5rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0em 0.313em 0.938em;
    transform: scale(0);
    transition: .5s ease-in-out;
    transition-delay: 1.2s;
  }
  
  .social-list>div {
    color: var(--white);
    margin: 0 .5rem;
    padding: .7rem;
    cursor: pointer;
    border-radius: .5rem;
    cursor: pointer;
    transform: scale(0);
    transition: .5s ease-in-out;
  }
  
  .social-list>div:nth-child(1) {
    transition-delay: 1.4s;
  }
  
  .social-list>div:nth-child(2) {
    transition-delay: 1.6s;
  }
  
  .social-list>div:nth-child(3) {
    transition-delay: 1.8s;
  }
  
  .social-list>div:nth-child(4) {
    transition-delay: 2s;
  }
  
  .social-list>div>i {
    font-size: 1.5rem;
    transition: .4s ease-in-out;
  }
  
  .social-list>div:hover i {
    transform: scale(1.5);
  }
  
  .facebook-bg {
    background-color: var(--facebook-color);
  }
  
  .google-bg {
    background-color: var(--google-color);
  }
  
  .twitter-bg {
    background-color: var(--twitter-color);
  }
  
  .insta-bg {
    background-color: var(--insta-color);
  }
  
  .pointer {
    cursor: pointer;
    color: var(--insta-color);
  }
  
  .container.sign-in .form.sign-in,
  .container.sign-in .social-list.sign-in,
  .container.sign-in .social-list.sign-in>div,
  .container.sign-up .form.sign-up,
  .container.sign-up .social-list.sign-up,
  .container.sign-up .social-list.sign-up>div {
    transform: scale(1);
  }
  
  .content-row {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 6;
    width: 100%;
  }
  
  .entrytext{
    -webkit-text-stroke: 0.1rem var(--white);
  }
  
  .entrytext2{
    -webkit-text-stroke: 0.1rem var(--white);
  }
  
  .text.sign-in {
    margin: 2rem;
    color: var(--white);
    position: relative;
    left: -25%;
  }
  
  .text.sign-up {
    margin: 2rem;
    color: var(--white);
    position: relative;
    right: -25%;
   
  }
  
  .text h2 {
    font-size: 3.30rem;
    font-weight: 900;
    margin: 2rem 0;
    transition: 1s ease-in-out;
  }
  
  .text p {
    font-weight: 600;
    transition: 1s ease-in-out;
    transition-delay: .2s;
  }
  
  .img img {
    width: 30vw;
    transition: 1s ease-in-out;
    transition-delay: .4s;
  }
  
  
  
  .text.sign-in h2,
  .text.sign-in p,
  .img.sign-in img {
    transform: translateX(-250%);
  }
  
  .text.sign-up h2,
  .text.sign-up p,
  .img.sign-up img {
    transform: translateX(250%);
  }
  
  .container.sign-in .text.sign-in h2,
  .container.sign-in .text.sign-in p,
  .container.sign-in .img.sign-in img,
  .container.sign-up .text.sign-up h2,
  .container.sign-up .text.sign-up p,
  .container.sign-up .img.sign-up img {
    transform: translateX(0);
  }
  
  .text.sign-up h2 b {
    font-weight: 900;
  }
  /* BACKGROUND */
  
  .container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300vw;
    transform: translate(35%, 0);
    background-image: linear-gradient(-45deg, var(--ablue) 10%, var(--lblue) 50%, var(--ablue) 100%);
    transition: 1s ease-in-out;
    z-index: 6;
    box-shadow: rgba(0, 0, 0, 0.35) 0em 0.325em 0.945em;
    border-bottom-right-radius: max(50vw, 50vh);
    border-top-left-radius: max(50vw, 50vh);
  }
  
  .container.sign-in::before {
    transform: translate(0, 0);
    right: 50%;
  }
  
  .container.sign-up::before {
    transform: translate(100%, 0);
    right: 50%;
  }
  
  /* RESPONSIVE */
  
  @media only screen and (max-width: 26.563rem) {
  
    .container::before,
    .container.sign-in::before,
    .container.sign-up::before {
        height: 100vh;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        z-index: 0;
        transform: none;
        right: 0;
    }
  
    /* .container.sign-in .col.sign-up {
        transform: translateY(100%);
    } */
  
    .container.sign-in .col.sign-in,
    .container.sign-up .col.sign-up {
        transform: translateY(0);
    }
  
    .content-row {
        align-items: flex-start !important;
    }
  
    .content-row .col {
        transform: translateY(0);
        background-color: unset;
    }
  
    .col {
        width: 100%;
        position: absolute;
        padding: 2rem;
        background-color: var(--white);
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        transform: translateY(100%);
        transition: 1s ease-in-out;
    }
  
    .row {
        align-items: flex-end;
        justify-content: flex-end;
    }
  
    .form,
    .social-list {
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
  
    .text {
        margin: 0;
    }
  
    .text p {
        display: none;
    }
  
    .text h2 {
        margin: .5rem;
        font-size: 2rem;
    }
  }
  
  .textanimated {
    display: inline-block;
    font-family: "arial";
    font-size: 1.37rem;  
  }
  
.font_style{
  color: var(--suit);
}

  .typed2 {
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.375rem solid;
    width: 0;
    animation: typing2 2s steps(30, end) 2.5s forwards, blink2 .5s step-end 2s infinite alternate;
    text-align: left;
  }
  
  .typed1 {
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.375rem solid;
    width: 0;
    animation: typing1 2s steps(30, end) 0.5s forwards, blink1 .5s step-end 6s infinite alternate;
    text-align: left;
  }


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

  @keyframes blink1 {
    50% {
        border-color: transparent;
    }
  }
  
  @keyframes blink2 {
    50% {
        border-color: transparent;
    }
  }
  
  @keyframes typing1 {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
  }
  
  @keyframes typing2 {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
  }
  
  .textanimated2 {
    display: inline-block;
    font-family: "arial";
    font-size: 1.30rem;
    color: var(--suit);
    text-align: right; /* Align text to the right */
    position: relative; /* Add position relative */
    top: 40%; /* Move the element down by 50% of its container's height */
    transform: translateY(-50%); /* Center the element vertically */
  }
  
  .typed22 {
    border-right: 0.375rem solid;
    animation: blink2 .5s step-end 2s infinite alternate;
    text-align: right;
  }
  
  .mirror {
            transform: scaleX(-1); /* Flips the content horizontally */
            display: inline-block;
        }
  